.footer{
    background-color: rgba(30,30,30,.97);;
    width: 100%;
    position: relative;
    bottom: 0;  
    font-size: 1rem;
    color:  #726f6f;
    
    .footer__wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .team__logo {

            img{         
            width: 100%;
        }}
        .footer__item {
            display: flex;
            align-content: space-between;
            justify-content: center;
            width: 200px; 
            .item1 {
                width: 100%;
                margin-left: 100px;
                color: #bbb;
                h3 {
                    color: #ee2424;
                }

            }
            
        }
        
    }
}

@media (max-width: 768px) {
    
    .footer{
        .footer__wrapper{
                .team__logo {
                        width: 400px;
                        img{
                           
                           width: 100%
                        }



        }
        .footer__item {

         flex-wrap: wrap;      
         flex-direction: column; 
         margin-right: 50px;
         font-size: 9px;
        }
    }
}
}








